$font1: 'Marcellus SC', serif;
$font2: 'Marcellus', serif;

$color-primary: #1ca7a2;
$color-secondary: #7F4E85;
$color-tertiary: #365B3B;

$color-resonance-dark: #264949;
$color-resonance-light: #a7d7d2;
$color-resonance-em: #c3afef;

$color-grey: #333;
$color-lighter-grey: #444;

$color-glow-light: #fcd240;
// $color-glow-light: #ffd269;
$color-glow-dark: #cb473a;
// $color-glow-dark: #71322b;
