.her-Container {
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.her-Content {
  padding: 20px;
  max-width: 900px;
  text-align: center;
  width: 100%;

  *:last-child {
    margin-bottom: 0;
  }
}

.her-Section {
  margin-bottom: 30px;
}

.her-Title {
  @include screen_reader_only;
}

.her-Heading {
  font-family: $font1;
  font-size: 1.8em;
  line-height: 1.3;
  letter-spacing: .2em;
  display: inline;
  margin-bottom: 20px;
  font-weight: normal;
  position: relative;

  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 99% 2px;
}

.her-Text {
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);

  a {
    text-decoration: none;
    color: $color-glow-light;
    transition: color .3s ease;
  }

  a:hover {
    color: darken($color-glow-light, 15%);
  }
}

.her-Heading_Link {
  background-color: white;
  border: 2px solid $color-grey;
  border-radius: 3px;
  color: $color-grey;
  display: inline-block;
  font-family: $font1;
  font-size: 1.8em;
  line-height: 1.3;
  padding: 5px 8px 8px 13px;
  letter-spacing: .2em;
  text-decoration: none;
  transition: background-color .3s ease, border-color .3s ease, color .3s ease;
  width: 100%;

  @media screen and (min-width: 601px) {
    width: auto;
  }

  &:hover {
    background-color: $color-glow-light;
    border-color: $color-grey;
    color: $color-grey;
  }

  &.her-Heading_Link--small {
    @media screen and (min-width: 601px) {
      font-size: 1.4em;
    }
  }
}


// .her-Heading_Link {
//   font-size: 0.7em;
//   text-decoration: none;
//   position: relative;
//
//   @media screen and (min-width: 321px) {
//     font-size: 0.8em;
//   }
//
//   @media screen and (min-width: 601px) {
//     font-size: 1.5em;
//   }
//
//   &::before,
//   &::after {
//     display: none;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     letter-spacing: 0;
//     font-size: 0.8em;
//
//     @media screen and (min-width: 321px) {
//       display: block;
//     }
//   }
//   &::before {
//     content: '>>';
//     left: -30px;
//
//     @media screen and (min-width: 601px) {
//       left: -60px;
//     }
//   }
//   &::after {
//     content: '<<';
//     right: -26px;
//
//     @media screen and (min-width: 601px) {
//       right: -53px;
//     }
//   }
// }

.her-Link {
  display: block;
  font-family: $font1;
  font-size: 1.2em;
  line-height: 1.3;
  letter-spacing: .3em;
  margin-bottom: 20px;
  text-decoration: none;

  @media screen and (min-width: 601px) {
    margin-bottom: 0;
  }
}

.her-Video_Container {
  margin-bottom: 30px;

  @media screen and (min-width: 601px) {
    max-width: 80%;
    margin: 0 auto 30px;
  }
}

.her-Video {
  margin: 10px 0 20px;
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.her-Arrow {
  width: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  svg {
    fill: #fff;
  }
}

.her-Items {
  margin-top: 30px;

  @media screen and (min-width: 601px) {
    display: flex;
    justify-content: center;
  }
}

.her-Item {
  margin-bottom: 20px;

  @media screen and (min-width: 601px) {
    margin-right: 50px;
    margin-bottom: 0;
    position: relative;

    &::after {
      display: block;
      content: '';
      width: 2px;
      height: 100%;
      background-color: #fff;

      position: absolute;
      top: 2px;
      right: -25px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}
