.lst-Flex_Items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.lst-Flex_Item {
  width: calc(20% - 40px);
  margin-right: 40px;

  @media screen and (max-width: 800px) {
    width: 33.33%;
    margin-right: 20px;
  }
  @media screen and (max-width: 600px) {
    width: 50%;
  }
}

.lst-Social_Items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 769px) {
    padding: 10px;
  }
}

.lst-Social_Item {
  width: 5%;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 769px) {
    width: calc(25% - 20px);
  }

  @media screen and (min-width: 769px) {
    height: 10px;
    width: 10px;
    margin-right: 40px;
    font-size: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
