html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #333;
  color: #ffffff;
  font-family: $font2;
  overflow-x: hidden;
}

a {
  color: currentColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 1.5;
  }
}

.wrp-Wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  max-width: 100%;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    background-attachment: scroll;
  }
}

.wrp-Loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.wrp-Site {
  opacity: 0;
  visibility: hidden;
  max-height: 100vh;

  transition: opacity .3s ease, visibility .3s ease;

  &.loaded {
    opacity: 1;
    visibility: visible;
    max-height: none;
  }
}

.wrp-Single {
  @extend .wrp-Wrap;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%), url('../img/gl-bg.jpg');
  @media screen and (max-width: 600px) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), url('../img/gl-mo-bg.jpg');
  }
}

.wrp-Album {
  @extend .wrp-Wrap;
}

.wrp-Solace {
  @extend .wrp-Wrap;
  background-position: bottom;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%), url('../img/solace-front.jpg');
  @media screen and (max-width: 600px) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url('../img/solace-front.jpg');
  }
}

img {
  max-width: 100%;
  width: 100%;
}

.img-Logo {
  @media screen and (min-width: 601px) {
    max-width: 70%;
  }
  margin-bottom: 20px;
}

.img-Title {
  max-width: 700px;
  margin: 50px auto;
}

.img-Shadow {
  box-shadow: 1px 1px 20px 0px #000;
}

.flickity-viewport {
  width: 100%;
}

.flickity-prev-next-button {
  background: none;

  @media screen and (max-width: 900px) {
    display: none;
  }

  svg {
    fill: #fff;
  }

  &:hover {
    background: none;
  }

  &.next {
    right: -40px;
  }

  &.previous {
    left: -40px;
  }
}

.flickity-page-dots {
  display: none;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.ft-Footer {
  text-align: center;
  padding: 20px 0;
  background-color: $color-grey;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  color: #a5a6a7;
  font-size: 12px;
  margin: 10px;

  position: absolute;
  bottom: 0;
  left: 0;

  transition: color .3s ease;

  &:hover {
    color: #ffffff;
  }
}

blockquote {
  letter-spacing: 0.1em;
  line-height: 1.5;
  // font-size: 14px;
  margin: 25px 0;
  font-style: italic;
  color: #ffffcc;
}

iframe {
  display: block;
  margin: 0 auto;
}

.ico-Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
