html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #333;
  color: #fff;
  font-family: $font2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 1.5;
  }
}

.wrp-Single {
  background-color: line rgba(0,0,0,0.2);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), url('../img/te-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  @media screen and (max-width: 600px) {
    background-attachment: scroll;
  }
}

.wrp-Album {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), url('../img/nd-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  @media screen and (max-width: 600px) {
    background-attachment: scroll;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

.img-Logo {
  max-width: 80%;
  margin-bottom: 30px;
}

.img-Title {
  max-width: 700px;
  margin: 50px auto;
}

.img-Shadow {
  box-shadow: 1px 1px 20px 0px #000;
}

.flickity-viewport {
  width: 100%;
}

.flickity-prev-next-button {
  background: none;

  @media screen and (max-width: 600px) {
    display: none;
  }

  svg {
    fill: #fff;
  }

  &:hover {
    background: none;
  }

  &.next {
    right: -60px;
  }

  &.previous {
    left: -60px;
  }
}

.flickity-page-dots {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.ft-Footer {
  text-align: center;
  margin: 20px 0;
}
